<!DOCTYPE html>
<html lang="{{language}}">
<head>
  <meta charset="UTF-8" />
  <title>{{subject}}</title>
</head>
<body style="margin:0; padding:0; background-color:#f5f7fa;">
  <table width="100%" cellpadding="0" cellspacing="0" style="background-color:#f5f7fa; padding: 20px;">
    <tr>
      <td align="center">
        <table width="600" cellpadding="0" cellspacing="0" style="background-color:#ffffff; border-radius:8px; font-family:Arial,sans-serif;">
          {{> header}}

          <tr>
            <td style="padding: 20px;">
             {{{content}}}
            </td>
          </tr>

          {{> footer}}
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
